<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
        <a mat-tab-link *ngFor="let link of links; let i = index" (click)="activeLink = link; goTo(i)"
          [active]="activeLink == link">
          <mat-icon *ngIf="link==''">home</mat-icon>
          {{link}}
        </a>
      </nav>
      <span class="head-spacer"></span>
      <span class="left-border">
        <button mat-icon-button type="button">
          <mat-icon>notifications</mat-icon>
        </button>
      </span>
      <span class="left-border">
        <button mat-icon-button type="button" class="centerButton">
          <mat-icon>settings</mat-icon>
        </button>
      </span>
      <span class="left-border">
        TEST
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>